{% extends resolvePath('/light-bootstrap-admin/base') %}

{% block body_content %}
    <div class="wrapper">
        <!-- the sidebar -->
        {% include resolvePath(req.admin.sidebarPath) %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include resolvePath(req.admin.navbarPath) %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">

                    {% block main_content %}
                    {% endblock %}

                </div>
            </div>
            {% include resolvePath(req.admin.footerPath) %}
        </div>
    </div>
{% endblock %}
